{% if cart == empty %}
  <span class="svg-wrapper">
    <img
      src="https://cdn.shopify.com/s/files/1/0859/3771/7525/files/tabletop.svg?v=1773836476"
      alt="Cart"
      width="32"
      height="32"
    >
  </span>
{% else %}
  <span class="svg-wrapper">
    <img
      src="https://cdn.shopify.com/s/files/1/0859/3771/7525/files/tabletop.svg?v=1773836476"
      alt="Cart"
      width="32"
      height="32"
    >
  </span>
{% endif %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">({{ cart.item_count }})</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
